<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginApp</servlet-name>
        <servlet-class>beans.LoginApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrtUser</servlet-name>
        <servlet-class>beans.CrtUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/jsp/Gest.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <jsp-file>/jsp/Logout.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Acerca</servlet-name>
        <jsp-file>/jsp/Acerca.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Contactos</servlet-name>
        <jsp-file>/jsp/Contact.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <jsp-file>/jsp/AddUser.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddPaciente</servlet-name>
        <jsp-file>/jsp/AddPaciente.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LstQuartos</servlet-name>
        <servlet-class>beans.LstQuartos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrtPaciente</servlet-name>
        <servlet-class>beans.CrtPaciente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginApp</servlet-name>
        <url-pattern>/LoginApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrtUser</servlet-name>
        <url-pattern>/CrtUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acerca</servlet-name>
        <url-pattern>/Acerca/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contactos</servlet-name>
        <url-pattern>/Contactos/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPaciente</servlet-name>
        <url-pattern>/AddPaciente/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LstQuartos</servlet-name>
        <url-pattern>/LstQuartos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrtPaciente</servlet-name>
        <url-pattern>/CrtPaciente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
